(
    texture_width: 512,
    texture_height: 512,
    sprites: [
        ( // Daytime background
            x: 0,
            y: 0,
            width: 144,
            height: 256,
        ),
        ( // Nighttime background
            x: 146,
            y: 0,
            width: 144,
            height: 256,
        ),
        ( // Down Pipe
            x: 56,
            y: 323,
            width: 26,
            height: 160,
        ),
        ( // Up Pipe
            x: 84,
            y: 323,
            width: 26,
            height: 160,
        ),
        ( // Ground
            x: 292,
            y: 0,
            width: 168,
            height: 56,
        ),
        ( // Floppy
            x: 3,
            y: 490,
            width: 17,
            height: 13,
        ),
        ( // Tap Tap Dialogue
            x: 292,
            y: 91,
            width: 56,
            height: 48,
        ),
        ( // Play Button
            x: 354,
            y: 118,
            width: 52,
            height: 29,
        ),
        ( // Leaderboard button
            x: 414,
            y: 118,
            width: 52,
            height: 29,
        ),
        ( // Get Ready
            x: 295,
            y: 59,
            width: 91,
            height: 24,
        ),
        ( // Flappy Bird Text
            x: 351,
            y: 91,
            width: 90,
            height: 25,
        )
    ]
)